*
!.gitignore
!.gitconfig
!.gitignore_global
!.editorconfig
!.env.example
!starship.toml
!Microsoft.PowerShell_profile.ps1
!setup.ps1
!install.ps1
!update.ps1
!.gitattributes
!vscode-settings.json
!vscode-keybindings.json
!windows-terminal-settings.json
!README.md
