[user]
	name = Vehnusian
	email = hashimk@live.ca

[init]
	defaultBranch = main

[core]
	autocrlf = true
	editor = code --wait
	excludesFile = ~/.gitignore_global
	longpaths = true

[pull]
	rebase = true

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[merge]
	conflictStyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = default

[rerere]
	enabled = true

[alias]
	s = status --short --branch
	lg = log --oneline --graph --decorate -20
	lga = log --oneline --graph --decorate --all -30
	last = log -1 --stat
	undo = reset --soft HEAD~1
	unstage = reset HEAD --
	amend = commit --amend --no-edit
	branches = branch -a --sort=-committerdate

[color]
	ui = auto

[credential]
	helper = manager
